<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-03-30T21:00:05Z</date>
	<key>WorkspacePath</key>
	<string>/Users/ravibishnoi/Documents/ios-native-projects/insta-reels/insta-reels.xcodeproj</string>
</dict>
</plist>
